[Unit]
Description=Scan for new devices
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/mqtt-network-scanner
ExecStart=/opt/mqtt-network-scanner/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target

